<h1>Profile</h1>
<div class="profile">
	<div class="col-md-2">
		<%= link_to gravatar_for(current_user, 50), current_user %>
	</div>
	<div class="col-md-9">
		<span class="profile-name"><%= current_user.name %></span> 
		<span class="sign-profile-name"></span>
		<span><%= link_to "view my profile", current_user %></span>
		<%= render 'shared/stats'%>
	</div>
	
</div>